@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Podkova:wght@400..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    font-family: Poppins;
    margin: 0;
    color: #eee;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100px;
}

.content_header{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: 90%;
  height: 90%;
}

.logo{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  gap: 80px;
}

.nav li{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  list-style-type: none;
}


.account button{
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 0px 100px 0px 100px;
  border: none;
  display: block;
}

.account button:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.Container_main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(/img/Fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
  background-color: antiquewhite;
}

.text_main{
  font-family: "Cuprum";
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: aquamarine;
}
.text_main span{
  color: #386DF4;
}
.text_main p{
  font-family: 'Rajdhani';
  font-size: 20px;
}
.image_main{
  width: 30%;
  height: 100%;
  background-color: blue;
}

.destaque_main{
  width: 20%;
  height: 100%;
  background-color: blueviolet;
}

.back{
  width: 90%;
  height: 15%;
  background-color: aqua;
}